.global-notification {
  position: fixed;
  top: 2.7rem;
  width: 100%;
  z-index: $zindex-fixed;

  .alert {
    color: $white;
    font-weight: bold;
  }

  button.close {
    opacity: 1;

    .feather {
      stroke: $white;
    }
  }

  .alert-dismissible .close {
    padding-top: .8rem;
    padding-right: 1rem;
  }
}
