// Round buttons
.btn-round {
  border-radius: 25px;

  &.btn-sm {
    border-radius: 15px;
  }

  &.btn-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.btn-lg {
    border-radius: 35px;
  }
}

.btn-info {
  color: #fff !important;

  &,
  &:active,
  &:focus {
    @include apply-dark-theme() {
      background: $dark-grayish-navy !important;
      box-shadow: none !important;
      border-color: $dark-grayish-navy;
    }
  }
}

.btn-primary {
  color: #fff !important;
  &,
  &:active,
  &:focus {
    @include apply-dark-theme() {
      background: $dark-grayish-navy !important;
      box-shadow: none !important;
    }
  }
}