// Round buttons
.btn-round {
  border-radius: 25px;

  &.btn-sm {
    border-radius: 15px;
  }

  &.btn-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.btn-lg {
    border-radius: 35px;
  }
}
