.custom-checkbox {
  label {
    color: $gray-500;
    font-size: .875rem;
  }
}

.v-select {
  &.is-invalid {
    .vs__dropdown-toggle {
      border-color: $danger;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  .vs__search,
  .vs__search:focus {
    padding: $input-padding-y $input-padding-x;
    margin: 0;
    border: none;
    line-height: 1;
  }

  .vs__dropdown-toggle {
    padding: 0;
  }

  .vs__selected-options {
    padding: 0;
    align-items: start;
  }

  .vs__selected {
    font-size: .75rem;
    padding: .5rem 1rem;
    background: $gray-100;
    border-radius: 1rem;
    margin: 5px;
    line-height: 1;
    border-width: 0;

    .vs__deselect {
      margin-left: 8px;
    }
  }
}

.input-group {
  .vdp-datepicker {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  > .vdp-datepicker + .vdp-datepicker {
    margin-left: -1px;
  }
}

.quick-search {
  position: relative;
  text-align: right;

  input {
    width: 11rem;
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 2.7rem 1.2rem 1.5rem;

    &:focus {
      box-shadow: none;
      background: $gray-200;
    }
  }

  button {
    border: 0;
    background: none;
    position: absolute;
    right: 7px;
    top: 10px;

    .feather {
      stroke: $gray-600;
    }
  }
}

.quick-chat-search {
  position: relative;
  text-align: right;

  input {
    width: 11rem;
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 2.7rem 1.2rem 1.5rem;

    &:focus {
      box-shadow: none;
      background: $gray-200;
    }
  }

  .fake-input {
    height: calc(1em + 1.8rem + 2px);
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 1.7rem 1.2rem 1.5rem;
  }

  button {
    border: 0;
    background: none;
    position: absolute;
    right: 7px;
    top: 10px;

    .feather {
      stroke: $gray-600;
    }
  }
}
