// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

// Override variables
@import "variables";

// Default bootstrap stuff
@import "~bootstrap/scss/bootstrap";
@import "~vue-select/src/scss/vue-select";

@mixin apply-dark-theme($property, $key, $map: $dark-theme) {
  .dark-theme & {
    #{$property}: map-get($map, $key);
  }
}

@mixin apply-dark-theme1() {
  .dark-theme & {
    @content;
  }
}

@function t($key, $map: $theme-dark) {
  @return map-get($map, $key);
}

$dark-theme: (
        "almost-dark": #070B17,
        "primary-text-color": #B9BBC0,
        "input-background-color": #1F222E,
        "input-focus-color": #1d202b,
        "paper-color": #070B17,
        "paper-shadow": #01040B,
        "border-color": #B9BBC0
);

// Component styles
@import "typography";
@import "buttons";
@import "form";
@import "uploader";
@import "tags";
@import "avatar";
@import "tabs";
@import "alerts";
@import "menus";
@import "dropdown";
@import "loaders";
@import "notifications";
@import "rating";

// Layout styles
@import "layout/paper";
@import "layout/header";

// Pages
@import "pages/login";
@import "pages/profile";
@import "pages/freelancer";
@import "pages/search";
@import "pages/tasks";
@import "pages/chat";
@import "pages/landing";

body {
  &.dark-theme {
      background-color: t("body-bg");
      color: t("body-color");
  }
}

a, a:hover {
  @include apply-dark-theme1() {
    color: t("link-color")
  }
}

hr {
  @include apply-dark-theme1() {
    border-top-color: t("hr-color");
  }
}