@font-face {
  font-family: Share;
  font-weight: normal;
  src: url("../fonts/Share-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Share;
  font-weight: bold;
  src: url("../fonts/Share-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Share;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Share-BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: Share;
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Share-Italic.ttf") format("opentype");
}

//Merriweather
@font-face {
  font-family: Merriweather;
  font-weight: normal;
  src: url("../fonts/Merriweather-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Merriweather;
  font-weight: bold;
  src: url("../fonts/Merriweather-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Merriweather;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Merriweather-BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: Merriweather;
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Merriweather-Italic.ttf") format("opentype");
}
