$white: #fff;
$black: #000;
$backcolor: #031134;
$backgray: #424c66;
$darkbackgray: #232938;
$buttongray: #818899;
$green: #5ed170;
$darkgreen: #449551;
$red: #d0021b;
$darkred: #9c0316;
$blue: #3da2dd;
$darkblue: #2a85ba;
$darkwhite: #d4d2d2;
$backred: #ff2842;

$mainfont: 'Merriweather', sans-serif;
$secfont: 'Share', sans-serif;
$trdfont: 'Merriweather', sans-serif;

$input-color-placeholder: rgba(51, 56, 56, 0.3);

// Cards
$card-border-width: 0;
$card-border-radius: 0;
$card-bg: $backgray;
