.auth-form-container {
  box-shadow: 0 0 6rem 0 rgba($dark, 0.06);

  .auth-form {
    h1 {
      font-size: 4.125rem;
      font-weight: 900;
    }
    .h1-sm{
      @include media-breakpoint-down(sm) {
        font-size: 3.25rem;
      }
    }
  }
  .dark-theme & {
    .auth-form input {
      background: map-get($dark-theme, "input-background-color") !important;

      &::placeholder {
        color: map-get($dark-theme, "primary-text-color");
      }
    }
  }
}

.roles-chooser {
  span {
    line-height: 1.2;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
