.short-task-item, .short-job-item {
  .duration, .price, .published-date {
    font-size: .875rem;
  }
}

.task-tags {
  li {
    font-size: .75rem;
    color: $gray-600;
  }
}

.task-details {
  background: $gray-100;
  padding: 1.5rem 1rem;

  @include media-breakpoint-up(lg) {
    border-radius: .5rem;
  }

  .detail {
    border-bottom: 1px dotted $gray-200;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    .feather {
      stroke: $green;
      min-width: 20px;
      max-width: 20px;
    }

    .text-muted {
      line-height: 1;

      small {
        font-size: .6875rem;
      }
    }
  }
}

.required-skills {
  ul {
    li {
      margin-left: -1rem;

      span {
        background: $gray-100;
        padding: .75rem 1rem;
        border-radius: 2rem;
        font-size: .875rem;
        display: block;
        float: left;
        margin-bottom: .2rem;
      }
    }
  }
}

.applied-freelancer {
  header {
    background: $gray-100;
    border-radius: .5rem;

    .avatar {
      width: 4rem;
      margin-right: 1rem;

      img {
        width: 100%;
        height: auto;
        border-radius: .5rem;
      }
    }

    .freelancer-name {
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.3125rem;
    }

    .freelancer-occupation {
      font-size: .875rem;
    }

    .freelancer-meta {
      font-size: .75rem;
      color: $gray-600;
    }

    @include media-breakpoint-down(sm) {
      .freelancer-name {
        font-size: 0.875rem;
      }

      .freelancer-occupation {
        font-size: 0.75rem;
      }
    }
  }

  p {
    color: $gray-800;
    padding-left: 6rem;

    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
    }
  }

  .reply {
    padding-left: 6rem;

    button {
      font-size: 1rem;

      @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
      }
    }
  }
}

.task-title {
  .on-bc {
    img {
      height: 3rem;
      width: auto;
    }
  }
  .employer {
    .avatar-container {
      .avatar {
        img {
          border-radius: .4rem;
        }
      }
    }
  }
}


.my-task-tabs {
  display: flex;
  align-items: center;

  &.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    
    li {      
      a {
        padding: 1rem .8rem;
        border-bottom: none !important;

        @include media-breakpoint-down(sm) {
          font-size: .8em;
          padding: 1rem 0.6rem;

        }

        @include media-breakpoint-only(lg) {
          font-size: .8em;
          padding: 1rem 0.6rem;
        }

        @media (min-width: 1200px) and (max-width: 1400px) { 
          font-size: .8em;
        }
      }
    }

    > li {
      float: none;
    }

    li:nth-child(4) {
        a {
          padding-right: .5rem;
          text-decoration: none;
        }
      }
    }

  &__action {
    button {
      padding: 0 .6rem;
      font-size: .65em;
    }
  }
}
