header.main-header {
  box-shadow: 0 2px 4px 0 rgba(13, 13, 34, 0.08);
  height: 3.5rem;

  @include media-breakpoint-up(xl) {
    height: 8.5rem;
    box-shadow: none;
  }

  @media (min-width: 992px) and (max-width: 1366px) { 
    height: 5rem;
    box-shadow: none;
  }

  .top-menu {
    li {
      margin-right: $header-menu-item-spacing;

      a {
        font-weight: 900;
        font-size: $header-menu-font-size;
      }
    }
    
    li:last-child {
      margin-right: 0;
    }
  }

  .header-menu {
    ul {
      li {
        margin-left: $header-menu-item-spacing;
        margin-right: 0;

        a {
          font-size: $header-menu-font-size;
        }
      }
    }
  }

  .logo {
    img {
      height: 2.25rem;
      width: auto;

      @include media-breakpoint-up(lg) {
        height: auto;
      }
    }
  }
}

.theme-icon {
  @include apply-dark-theme() {
    color: t("body-color");
  }

  margin-right: 1rem;
  align-self: center;
  cursor: pointer;
}